body {
    margin: 0;
    canvas {
        width: 100%;
        height: 100%;
    }
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 30px;
}

#info {
    position: fixed;
    top: 10px;
    max-width: 350px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 2;
}

#progress {
    position: fixed;
    left: calc(50% - 100px);
    top: 40%;
    width: 200px;
    height: 20px;
    background: #000;
    border: 2px solid #000;
    color: white;
}

#progress::after {
    content: "Loading Awesome Textures and Models...";
    position: absolute;
    bottom: -30px;
    left: -25%;
    width: 150%;
    text-align: center;
}
#progressBar {
    width: 200px;
    height: 20px;
    background: green;
    border: none;
}

#gameover-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    visibility: hidden;
}

#score-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.score {
    font-size: 50px;
    font-weight: 700;
    color: #9F2B2B;
    line-height: 50px;
    -webkit-text-stroke: 1px black;
}

#lives-overlay {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 2;
}

#pause-screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    visibility: hidden;
    text-align: center;
}

#pause-screen h1, #pause-screen h3  {
    position: relative;
    top: 750px;
    color: white;
}

#splash-screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

#splash-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}
img {
    display: block;
}

.lives {
    display: inline-block;
    width: 40px;
}

#titleLogo, #gameOverLogo {
    position: relative;
    width: 60%;
    top: 20%;
    margin: 0 auto;
}

#playIcon, #replayIcon {
    position: relative;
    width: 20%;
    top: 60%;
    margin: 0 auto;
}

#restart-game {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#gameOverScore {
    position: relative;
    top: 25%;
    text-align: center;
}

#settingsIconContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    visibility: hidden;
}

#settingsIcon {
    position: relative;
}

.settings {
    width: 50px;
}

#settings-overlay {
    position: absolute;
    top: 35%;
    width: 50%;
    height: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
}


/* Switch styles */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

input:checked + .slider {
  background-color: #9F2B2B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9F2B2B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* List style */
ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 1;
}

li {
    float: left;
    margin: 0 20px;
}
